<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page_title(current_page) %></title>
    <meta name="description" content="<%= h(meta_description) %>">
    <meta name="robots" content="<%= robots %>">
    <%= partial "open-graph" %>
    <%= partial "favicon" %>
    <%= stylesheet_link_tag "site" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= partial "analytics" unless development? %>
  </head>
  <body class="<%= page_classes %>">
    <div class="main" role="main">
        <%= partial "header" %>
        <div class="content">
          <%= yield %>
        </div>
      <%= partial "footer" %>
    </div>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCl7L8yLzq9gDLi4XtKnlXKZzNX3ahqdfY&v=3.exp'></script>
    <%= javascript_include_tag "site" %>
    <%= partial "schema" %>
  </body>
</html>
