<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="robots" content="<%= robots %>">
    <%= stylesheet_link_tag "main" %>
    <%= partial "partials/open_graph" %>
  </head>
  <body class="<%= page_classes %>">
    <main class="main" role="main">
      <%= partial "partials/site_navigation" %>
      <%= yield %>
    </main>
    <%= partial "partials/site_footer" %>
    <%= javascript_include_tag "main" %>
    <%= partial "partials/analytics" unless development? %>
    <%= partial "partials/schema" if proxied_to.to_s == "index.html" %>
  </body>
</html>
