<section class="impression <%= variant %>">
  <div class="grid-row">

    <h2>
      <%= t("partials.impression.title") %>
    </h2>

    <div class="impression-wrapper">

      <div class="impression-item">
        <div class="impression-content" style="background-image: url(<%= image_path("impression-01.jpg") %>)"></div>
      </div>

      <div class="impression-item">
        <div class="impression-content" style="background-image: url(<%= image_path("impression-02.jpg") %>)"></div>
      </div>

      <div class="impression-item">
        <div class="impression-content" style="background-image: url(<%= image_path("impression-04.jpg") %>)"></div>
      </div>

      <div class="impression-item">
        <div class="impression-content" style="background-image: url(<%= image_path("impression-03.jpg") %>)"></div>
      </div>

    </div>
  </div>
</section>
