<section class="opening-hours">
  <div class="grid-row">
    <h2>
      <%= t("partials.opening-hours.title") %>
    </h2>
    <ul class="opening-hours-list">
      <li id="1">
        <span class="day"><%= t("partials.opening-hours.days.monday") %></span>
        <span><%= t("partials.opening-hours.closed") %></span>
      </li>
      <li id="2">
        <span class="day"><%= t("partials.opening-hours.days.tuesday") %></span>
        <span>12:00 - 17:00</span>
      </li>
      <li id="3">
        <span class="day"><%= t("partials.opening-hours.days.wednesday") %></span>
        <span>13:00 - 18:00</span>
      </li>
      <li id="4">
        <span class="day"><%= t("partials.opening-hours.days.thursday") %></span>
        <span>11:00 - 21:00</span>
      </li>
      <li id="5">
        <span class="day"><%= t("partials.opening-hours.days.friday") %></span>
        <span>11:00 - 19:00</span>
      </li>
      <li id="6">
        <span class="day"><%= t("partials.opening-hours.days.saturday") %></span>
        <span>11:00 - 18:00</span>
      </li>
      <li id="0">
        <span class="day"><%= t("partials.opening-hours.days.sunday") %></span>
        <span>12:00 - 17:00</span>
      </li>
    </ul>
  </div>
</section>
