<% if paginate && num_pages > 1 %>
  <div class="pagination">
    <ul>

      <% if prev_page %>
        <li>
          <%= link_to "", prev_page, class: "icon-chevron-left" %>
        </li>
      <% else %>
        <li class="disabled">
          <span class="icon-chevron-left"></span>
        </li>
      <% end %>

      <li class="pages">
        <span>
          <%= page_number %> / <%= num_pages %>
        </span>
      </li>

      <% for page in 1..num_pages %>
        <% if page == page_number %>
          <li class="current item">
            <span><%= page %></span>
          </li>
        <% else %>
          <%
          page_url = ""
          page_url << "/en" unless lang == :nl
          page_url << "/menu/"
          page_url << "#{page}/" unless page == 1
          %>
          <li class="item">
            <%= link_to page, page_url %>
          </li>
        <% end %>
      <% end %>

      <% if next_page %>
        <li>
          <%= link_to "", next_page, class: "icon-chevron-right" %>
        </li>
      <% else %>
        <li class="disabled">
          <span class="icon-chevron-right"></span>
        </li>
      <% end %>

    </ul>
  </div>
<% end %>
