<li class="untappd-menu-item">
  <div class="col col-img">
    <img src="<%= article.data.image %>" alt="<%= article.data.title %> - <%= article.data.brewery %>">
  </div>
  <div class="col col-content">
    <h3>
      <%= article.title %> <span><%= article.data.style %></span>
    </h3>
    <div class="item-brewery">
      <%= article.data.brewery %>
    </div>
    <div class="item-meta">
      <div class="abv">
        <%= article.data.abv %>% ABV
      </div>
      <% unless article.data.ibu == "0" %>
        <div class="ibu">
          <%= article.data.ibu %> IBU
        </div>
      <% end %>
      <div class="rating">
        <%= article.data.rating %>
      </div>
    </div>
    <div>
      <% unless article.data.description == "" %>
        <p>
          <%= article.data.description %>
        </p>
      <% end %>
      <p>
        <a href="<%= article.data.untappd_url %>" target="_blank" rel="noopener noreferrer" title="Check bier op Untappd"><%= t("pages.menu.more_info") %></a>
      </p>
    </div>
  </div>
</li>
