---
title:
  nl: "Contact"
  en: "Contact"
description:
  nl: "Neem contact op."
  en: "Contact us now."
sitemap_priority: 0.8
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         variant_overlay: "primary-overlay",
                                         background_image: "banner-contact.jpg",
                                         title: t("pages.contact.title") } %>

<section class="form">
  <div class="grid-row form-grid-row">
    <div class="col">
      <h2>
        <%= t("pages.contact.form") %>
      </h2>
      <%= partial "partials/form", locals: { name: "contact",
                                             fields: ["name", "email", "message"],
                                             button_text: t("form.submit"),
                                             button_variant: "orange"} %>
    </div>
    <div class="col">
      <h2>
        <%= t("pages.contact.details") %>
      </h2>
      <p>
        Folkingestraat 18<br>
        9711 JW<br>
        Groningen<br>
        <a href="mailto:just_in_beer@hotmail.com">just_in_beer@hotmail.com</a>
    </div>
  </div>
</section>

<%= partial "partials/maps" %>
