---
description:
  nl: "Dit is een beschrijving"
  en: "This is a description"
sitemap_priority: 1
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         variant_overlay: "primary-overlay",
                                         background_image: "banner-homepage.jpg",
                                         title: t("pages.index.banner.title"),
                                         text: t("pages.index.banner.text"),
                                         button_link: "menu.html",
                                         button_text: t("pages.index.banner.button_text"),
                                         button_variant: "white ghost big" } %>

<section class="introduction">
  <div class="grid-row">
    <%= partial "homepage/content" %>
  </div>
</section>

<%= partial "partials/impression" %>
<%= partial "partials/latest-menu-update" %>
<%= partial "partials/opening-hours" %>
<%= partial "partials/maps" %>
