---
description:
  nl: "Dé speciaalbierwinkel van Groningen met het grootste en beste assortiment. Wij zijn geopend van dinsdag t/m zondag."
  en: "The specialty beer shop in Groningen with the largest and best collection of beer. We are open from Tuesday to Sunday."
sitemap_priority: 1
blog: menu
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         variant_overlay: "primary-overlay",
                                         background_image: "banner-homepage.jpg",
                                         title: t("pages.index.banner.title"),
                                         text: t("pages.index.banner.text"),
                                         button_link: "menu.html",
                                         button_text: t("pages.index.banner.button_text"),
                                         button_variant: "white ghost big" } %>

<section class="introduction">
  <div class="grid-row">
    <%= partial "homepage/content" %>
  </div>
</section>

<%= partial "partials/opening-hours" %>
<%= partial "partials/latest-untappd-menu-update" %>
<%= partial "partials/impression", locals: { variant: "transparent" } %>
<%= partial "partials/maps" %>
