<section class="brands">
  <div class="row">

    <h2>
      Merken
    </h2>

    <p>
      Een greep uit de merken die wij verkopen:
    </p>

    <div class="brands-wrapper">

      <div class="brands-block">
        <%= image_tag "omnipollo.png", alt: "Omnipolo", title: "Omnipollo" %>
      </div>

      <div class="brands-block">
        <%= image_tag "cloudwater.png", alt: "Cloudwater", title: "Cloudwater" %>
      </div>

      <div class="brands-block">
        <%= image_tag "het-uiltje.png", alt: "Het Uiltje", title: "Het Uiltje" %>
      </div>

      <div class="brands-block">
        <%= image_tag "buxton.png", alt: "Buxton", title: "Buxton" %>
      </div>

      <div class="brands-block">
        <%= image_tag "jopen.png", alt: "Jopen", title: "Jopen" %>
      </div>

    </div>

    <a href="/assortiment/" class="button slightly-desaturated-orange">Meer over assortiment</a>

  </div>
</section>
