<header class="main_h">
  <div class="header-container">

    <a class="logo" href="/">
      <%= image_tag "logo-just-in-beer-white.png", class: "Just in Beer", alt: "Just in Beer" %>
    </a>

    <a class="mobile-toggle">
      <span></span>
    </a>

    <nav>
      <ul>
        <li>
          <%= nav_link "Home", "/" %>
        </li>
        <li>
          <%= nav_link "Assortiment", "/assortiment/" %>
        </li>
        <li>
          <%= nav_link "Bier reserveren", "/bier-reserveren/" %>
        </li>
        <li>
          <%= nav_link "Over ons", "/over-ons/" %>
        </li>
        <li>
          <%= nav_link "Contact", "/contact/" %>
        </li>
      </ul>
    </nav>

  </div>
</header>
