---
title: Just in Beer | craft beer winkel in Groningen
description: Just in Beer is de craft beer winkel van Groningen
---

<section class="hero">
  <div class="hero-content">
    <h1>
      Welkom bij Just in Beer
    </h1>
    <%= image_tag "logo-just-in-beer-big.png", alt: "Just in Beer", title: "Just in Beer" %>
  </div>
</section>

<section class="introduction">
  <div class="row">

    <h3>
      Craft Beer Store in Groningen sinds 2017
    </h3>
    <p>
      Just in Beer is jouw craft bier specialist in een van de leukste winkelstraten van hartje Groningen. Naast een immer groeiend vast assortiment, verkopen we steeds vaker echte specials.
    </p>

    <div class="offer-wrapper">

      <div class="flex-item">
        <% link_to("assortiment", class: "offer", alt: "Assortiment", style: "background-image: url(#{image_path("offer-assortiment-bg.jpg")})") do %>
          <div class="offer-content">
            <h3>
              Assortiment &rsaquo;
            </h3>
          </div>
        <% end %>
      </div>

      <div class="flex-item">
        <% link_to("over-ons", class: "offer", alt: "Over ons", style: "background-image: url(#{image_path("offer-about-us-bg.jpg")})") do %>
          <div class="offer-content">
            <h3>
              Over ons &rsaquo;
            </h3>
          </div>
        <% end %>
      </div>

      <div class="flex-item">
        <% link_to("contact", class: "offer", alt: "Contact", style: "background-image: url(#{image_path("offer-contact-bg.jpg")})") do %>
          <div class="offer-content">
            <h3>
              Contact &rsaquo;
            </h3>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</section>

<section class="hop-into-the-grain">
  <div class="row">

    <div class="festival-wrapper">
      <div class="flex-item">
        <h2>
          Hop! into the Grain Festival
        </h2>
        <p>
          26 mei 2018 organiseert Just in Beer een Craft beer & Music festival genaamd Hop! into the Grain. Het beste van twee werelden: topbieren van diverse brouwerijen uit Nederland in een setting van een echt muziekfestival.
        </p>
        <p>
          <dl>
            <dt>Datum</dt>
            <dd>26 mei 2018</dd>
            <dt>Tijd</dt>
            <dd>12:00 - 01:30</dd>
            <dt>Locatie</dt>
            <dd>EM2 The Barn, Groningen</dd>
            <dt>Prijs</dt>
            <dd>€14,95</dd>
          </dl>
        </p>
        <p>
          <a class="button big slightly-desaturated-orange" href="https://www.hopintothegrainfestival.nl" target="_blank">Bezoek website</a>
        </p>
      </div>

      <div class="flex-item">
        <a href="https://www.hopintothegrainfestival.nl" target="_blank">
          <%= image_tag("poster-hop-into-the-grain-festival.png") %>
        </a>
      </div>
    </div>

  </div>
</section>

<%= partial "impressie" %>
<%= partial "brands" %>
<%= partial "maps" %>
